extends ../layouts/main-layout
block title
    title Product
block content
    h1 Products
    .mb-5
        a.btn.btn-success(href="/add-product") Add product
    table.table
        thead
            tr
                th Name
                th
        tbody
            each product in products
                tr
                    td= product.name
                    td
                        -
                            const detailUrl = 'product/' + product.id
                            const updateUrl = 'update/' + product.id
                            const deleteUrl = 'delete/' + product.id
                            const addCartUrl = 'add-cart/' + product.id
                                            
                        .d-flex.align-items-center.gap-2
                            a.btn.btn-info(href=detailUrl): i.fa-solid.fa-magnifying-glass
                            a.btn.btn-warning(href=updateUrl): i.fa-solid.fa-square-pen
                            a.btn.btn-danger(href=deleteUrl): i.fa-solid.fa-trash
                            a.btn.btn-dark(href=addCartUrl): i.fa-solid.fa-cart-plus
            else
                tr
                    td(colspan="2")
                        .text-center No product
