extends ../layouts/main-layout
block title
    title Cart
block content
    h1 Cart
    table.table
        thead
            tr
                th Name
                th Price
                th Quantity
                th Total
                th
        tbody
            each item in cart
                tr
                    td= item.product_name
                    td= item.price
                    td
                            input.form-control(type="number" value=item.quantity style="width: max-content")
                    td= item.price * item.quantity
                    td
                        - url = 'remove-item/' + item.id
                        .d-flex.align-items-center.gap-2
                            a.btn.btn-danger(href=url): i.fa-solid.fa-trash

            else
                tr: td(colspan="4"): .text-center Empty cart